n8n_music_video/n8n_music_video_workflow.json
{
  "name": "Daily AI Music Video Generator (Full Pipeline)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "value": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// STANDARD MODE: Generate 1 track for testing\nconst genres = ['Pop Rock', 'Pop', 'Rap', 'Hip-Hop'];\nconst today = new Date();\nconst index = today.getDate() % genres.length;\nconst selectedGenre = genres[index];\n\n// Create 1 item for testing\nconst items = [];\nitems.push({\n  json: {\n    track_number: 1,\n    genre: selectedGenre,\n    prompt_image: `A high quality, abstract album cover for a ${selectedGenre} song, track 1, 4k resolution, trending on artstation`,\n    prompt_music: `Generate a ${selectedGenre} track, upbeat, 30 seconds, high quality audio`\n  }\n});\n\nreturn items;"
      },
      "id": "setup-genre-and-tracks",
      "name": "Setup Genre & Tracks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-in-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "headerAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "39ed52f2a78e934b3ba6e2a89f5b1c712de7dfea535525255b1aa35c5565e08b"
            },
            {
              "name": "input",
              "value": "={{ {\"prompt\": $json.prompt_image, \"width\": 1024, \"height\": 576} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "submit-image-job",
      "name": "Submit Image Job (SDXL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLICATE_CREDENTIAL_ID",
          "name": "Replicate API Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-image",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "check-image-status",
      "name": "Check Image Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLICATE_CREDENTIAL_ID",
          "name": "Replicate API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "succeeded"
            }
          ]
        }
      },
      "id": "image-finished?",
      "name": "Image Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "headerAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "b05b1dff1d8c6dc63d14b0cdb42135378dcb87f6373b0d3d341ede46e59e2b38"
            },
            {
              "name": "input",
              "value": "={{ {\"prompt\": $(\"Split In Batches\").item.json.prompt_music, \"duration\": 30, \"model_version\": \"stereo-large\"} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "submit-music-job",
      "name": "Submit Music Job (MusicGen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLICATE_CREDENTIAL_ID",
          "name": "Replicate API Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "wait-music",
      "name": "Wait 20s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "check-music-status",
      "name": "Check Music Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1850,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLICATE_CREDENTIAL_ID",
          "name": "Replicate API Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "succeeded"
            }
          ]
        }
      },
      "id": "music-finished?",
      "name": "Music Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve data safely\nconst imageItem = $('Image Finished?').first();\nconst musicItem = $('Music Finished?').first();\nconst originalData = $('Split In Batches').item.json;\n\n// Extract URLs\nlet imageUrl = null;\nif (imageItem && imageItem.json && imageItem.json.output) {\n   imageUrl = Array.isArray(imageItem.json.output) ? imageItem.json.output[0] : imageItem.json.output;\n}\n\nlet musicUrl = null;\nif (musicItem && musicItem.json && musicItem.json.output) {\n   musicUrl = musicItem.json.output;\n}\n\n// 1. Title Generation Logic\nconst adjectives = ['Relaxing', 'Upbeat', 'Chill', 'Energetic', 'Smooth', 'Deep'];\nconst activities = ['for Study', 'for Work', 'Vibes', 'Daily Mix', 'Session', 'Journey'];\n\nconst randomAdjective = adjectives[Math.floor(Math.random() * adjectives.length)];\nconst randomActivity = activities[Math.floor(Math.random() * activities.length)];\nconst dateStr = new Date().toISOString().split('T')[0];\n\nconst videoTitle = `${randomAdjective} ${originalData.genre} ${randomActivity} 🎵 #${originalData.track_number} [${dateStr}]`;\n\n// 2. Description Generation\nconst videoDescription = `Enjoy this AI-generated ${originalData.genre} music track.\\n\\n🎵 Genre: ${originalData.genre}\\n🎨 Art: SDXL AI\\n🎼 Music: MusicGen AI\\n\\nSubscribe for more daily AI music!\\n\\n#AIMusic #AIArt #NueralNetworks #${originalData.genre.replace(/\\s/g, '')}`;\n\nreturn {\n  json: {\n    image_url: imageUrl,\n    music_url: musicUrl,\n    video_title: videoTitle,\n    video_description: videoDescription\n  }\n};"
      },
      "id": "merge-results",
      "name": "Final Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "headerAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{ {\n  \"output_format\": \"mp4\",\n  \"width\": 1280,\n  \"height\": 720,\n  \"elements\": [\n    {\n      \"type\": \"image\",\n      \"source\": $json.image_url,\n      \"track\": 1,\n      \"duration\": null // Fit to audio\n    },\n    {\n      \"type\": \"audio\",\n      \"source\": $json.music_url,\n      \"track\": 2\n    }\n  ]\n} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "render-video",
      "name": "Render Video (Creatomate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2550,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREATOMATE_CREDENTIAL_ID",
          "name": "Creatomate API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-render",
      "name": "Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2750,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-video",
      "name": "Download Video File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2950,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "video",
        "title": "={{ $('Final Results').first().json.video_title }}",
        "description": "={{ $('Final Results').first().json.video_description }}",
        "privacyStatus": "private",
        "binaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "upload-youtube",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [
        3150,
        300
      ],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "YOUR_YOUTUBE_CREDENTIAL_ID",
          "name": "YouTube Account"
        }
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Setup Genre & Tracks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Genre & Tracks": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Submit Image Job (SDXL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Image Job (SDXL)": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Check Image Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Status": {
      "main": [
        [
          {
            "node": "Image Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Finished?": {
      "main": [
        [
          {
            "node": "Submit Music Job (MusicGen)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Music Job (MusicGen)": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Check Music Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Music Status": {
      "main": [
        [
          {
            "node": "Music Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Music Finished?": {
      "main": [
        [
          {
            "node": "Final Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Results": {
      "main": [
        [
          {
            "node": "Render Video (Creatomate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video (Creatomate)": {
      "main": [
        [
          {
            "node": "Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Render": {
      "main": [
        [
          {
            "node": "Download Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video File": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}